<style type="text/css">	<!--
	body,th,td,input,select,textarea,select,checkbox{
	 font:12pt "標楷體";
	 line-height:1.5}
  	
	a:link {
		font: 12pt "標楷體";
		text-decoration: none;
		color: #00008b;
	}
	a:visited      {
		font: 12pt "標楷體";
		text-decoration: none;
		color: #00008b;
	}
	a:active       {
		font: 12pt "標楷體";
		text-decoration: none;
		color: #00008b;
	}
	a:hover  {font: 12pt "標楷體"; text-decoration: underline; color: #a52a2a}
	
	.Bt{
		font-family: '標楷體';
		font-size: 9 pt;
		border: 1px groove Blue;
		background-color: #DCDCDC;
	}
	
	.St{
	font-family:'標楷體';
	font-size: 9 pt;
	border : solid #dadada 1;
	background-color : #ffccff;
    }
	-->
</style>
